{
    "parser": "@babel/eslint-parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "browser": true,
        "jest": true
    },
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "globals": {
        "strapi": true
    },
    "rules": {
        "react/prop-types": "off",
        "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
} 